#parse("/htmlDirectories/subscriberNavigationBar.vm")
#parse("/htmlDirectories/exceptionsView.vm")
<html lang="en-us">
<head>
    <link rel="stylesheet" href="/Main.css">
    <link rel="stylesheet" href="/pageDesign.css">

</head>

<body style = "background: url(back2.jpg); background-size: 100% 100%; background-repeat: no-repeat;">
    #@subscriberNavigationBar()
    #end
<main>

    <div class="Container">
        <form class=add_store_policy_management_permission_form id=add_store_policy_management_permission_form; action="/add_store_policy_management_permission"; method="post";>
            <h1 class="white">Add Store Policy Management Permission</h1>
            <input type="hidden" name="connectionID" id="connectionID" value="" required>
            <script type="text/javascript">
                document.getElementById("connectionID").setAttribute('value',localStorage.getItem("connectID"));
            </script>
            <div class="row">
                <div class="col-15">
                    <label class="white" for="store_id">Store ID</label>
                </div>
                <div class="col-30">
                    <input type="number" id="store_id" name="store_id" placeholder="Enter store id here" required min="1">
                </div>
            </div>

            <div class="row">
                <div class="col-15">
                    <label class="white" for="user_name">User Name</label>
                </div>
                <div class="col-30">
                    <input type="text" id="user_name" name="user_name" placeholder="Enter user name here" required>
                </div>
            </div>

            <div class="row">
                <input type="submit" value="Submit">
            </div>

            #if($success_added)
                <p class = "no_exception" >User $user_name has been added permission</p>
            #end
            #@exceptionsView()
            #end
        </form>
    </div>

</main>
</body>
</html>