#parse("/htmlDirectories/subscriberNavigationBar.vm")
#parse("/htmlDirectories/exceptionsView.vm")
<html lang="en-us">
<head>
    <link rel="stylesheet" href="/Main.css">
    <link rel="stylesheet" href="/pageDesign.css">

</head>

<body style = "background: url(back2.jpg); background-size: 100% 100%; background-repeat: no-repeat;">
    #@subscriberNavigationBar()
    #end
<main>


    <div class="Container">
            <h1 class="white">Add Policy</h1>
            <input type="hidden" name="connectionID" id="connectionID" value="">
            <input type="hidden" name="path" id="path" value="">

            <script type="text/javascript">
                document.getElementById("connectionID").setAttribute('value',localStorage.getItem("connectID"));
            </script>


            <div class="row">
                <div class="col-15">
                    <label class="white" for="store_id">Store ID</label>
                </div>
                <div class="col-30">
                    <input type="number" id="store_id" name="store_id" placeholder="Enter store id here" required min="1">
                </div>
            </div>

            <div>
                <button class = "button-6" onclick="setPath('/time_policy')" > Time Policy </button>
                <button class = "button-6" onclick="setPath('/quantity_policy')"> Quantity Policy </button>
                <button class = "button-6" onclick="setPath('/forbidden_date_policy')"> Forbidden Date Policy </button>
                <button class = "button-6" onclick="setPath('/minimal_cart_policy')"> Minimal Cart Policy </button>
                <button class = "button-6" onclick="setPath('/maximal_cart_policy')"> Maximal Cart Policy </button>
                <button class = "button-6" onclick="setPath('/cart_range_price_policy')"> Cart Price Range Policy </button>
                <button class = "button-6" onclick="setPath('/complex_policies')"> Complex Policy </button>
            </div>


            <script>
                function setPath(path) {
                    let store_id = document.getElementById("store_id").value;
                    if(store_id !== "" && store_id){
                        let connectionID = localStorage.getItem("connectID");
                        window.location.href = path + "?store_id=" + store_id + "&connectionID=" + connectionID;
                    }
                    else{
                        alert("store id missing");
                    }
                }
            </script>

            #if($policy)
                <p class="no_exception">Policy succeeded with id: $policy</p>
            #end
            #@exceptionsView()
            #end
    </div>




  #*      <div style = "font-size: 25; font-family: cursive; color: black;
                      position: inherit; left: 7%;">
            <h1>Add Policy</h1>
            <input type="hidden" name="connectionID" id="connectionID" value="">
            <input type="hidden" name="path" id="path" value="">

            <div style = "font-size: 15; font-family: cursive; color: black;
                                      position: fixed; top: 30%; left: 5%;">
            <h1>Store ID</h1>
            <input type="number" min = "1" maxlength="50" name="store_id" id="store_id"
                    placeholder="Enter store id here" tabindex="1" class = "store_id1"
                    value="" required >
            </div>
            <div>
                <button class = "submit_button1" onclick="setPath('/time_policy')" > Time Policy </button>
                <button class = "submit_button1" onclick="setPath('/quantity_policy')"> Quantity Policy </button>
                <button class = "submit_button1" onclick="setPath('/forbidden_date_policy')"> Forbidden Date Policy </button>
                <button class = "submit_button1" onclick="setPath('/minimal_cart_policy')"> Minimal Cart Policy </button>
                <button class = "submit_button1" onclick="setPath('/maximal_cart_policy')"> Maximal Cart Policy </button>
                <button class = "submit_button1" onclick="setPath('/cart_range_price_policy')"> Cart Price Range Policy </button>
                <button class = "submit_button1" onclick="setPath('/complex_policies')"> Complex Policy </button>
            </div>
            <script>

                function setPath(path) {
                    let store_id = document.getElementById("store_id").value;
                    if(store_id !== "" && store_id){
                        let connectionID = localStorage.getItem("connectID");
                        window.location.href = path + "?store_id=" + store_id + "&connectionID=" + connectionID;
                    }
                    else{
                        alert("store id missing");
                    }
                }
            </script>
        </div>
        #if($policy)
            <p class="no_exception">policy succeeded with id: $policy</p>
        #end
        #@exceptionsView()
        #end*#
</main>
</body>
</html>
