#parse("/htmlDirectories/subscriberNavigationBar.vm")
#parse("/htmlDirectories/exceptionsView.vm")
<html lang="en-us">
<head>
    <link rel="stylesheet" href="/Main.css">
    <link rel="stylesheet" href="/pageDesign.css">
</head>

<body style = "background: url(back2.jpg); background-size: 100% 100%; background-repeat: no-repeat;">
    #@subscriberNavigationBar()
    #end
<main>

    <div class="Container">
        <form id="category_discount_form" method="post">
            <h1>Set Category Discount</h1>
            <input type="hidden" name="connectionID" id="connectionID" value="">
            <script type="text/javascript">
                document.getElementById("connectionID").setAttribute('value',localStorage.getItem("connectID"));
            </script>
            <input type="hidden" name="store_id" id="store_id" value=$store_id>

            <div class="row">
                <div class="col-15">
                    <label class="white" for="category">Category</label>
                </div>
                <div class="col-30">
                    <select name="categories" id="categories" required>
                        #foreach($c in $categories)
                            <option>$c</option>
                        #end
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-15">
                    <label class="white" for="discount">Discount Percentage</label>
                </div>
                <div class="col-30">
                    <input type="number" id="discount" name="discount" placeholder="Discount in %" required min="1" max="100" >
                </div>
            </div>

            <div class="row">
                <input type="submit" value="Submit">
            </div>

            #@exceptionsView()
            #end
        </form>
    </div>


#*        <form id="category_discount_form" method="post">
            <div style = "font-size: 25; font-family: cursive; color: black;
                          position: inherit; left: 7%;">
            <h1>Set Category Discount</h1>
            <input type="hidden" name="connectionID" id="connectionID" value="">
            <script type="text/javascript">
                document.getElementById("connectionID").setAttribute('value',localStorage.getItem("connectID"));
            </script>
            <input type="hidden" name="store_id" id="store_id" value=$store_id>
            <div>
                <div>
                    <label for="category">Category</label>
                </div>
                <div>
                    <select name="categories" id="categories" required>
                        <option value="">Please select</option>
                        #foreach($c in $categories)
                            <option>$c</option>
                        #end
                    </select>
                </div>
            </div>
            <div>
                <div>
                    <label for="discount">discount percent</label>
                    <input type="number" name="discount" placeholder="Discount in %"
                           min="0" max="100" value="" required min="1">
                </div>
            </div>
            <div>
                <button class = "submit_button1" > Submit </button>
            </div>
        </form>*#

</main>
</body>
</html>
