#parse("/htmlDirectories/subscriberNavigationBar.vm")
#parse("/htmlDirectories/exceptionsView.vm")
<html lang="en-us">
<head>
    <link rel="stylesheet" href="/Main.css">
    <link rel="stylesheet" href="/pageDesign.css">
</head>

<body style = "background: url(back2.jpg); background-size: 100% 100%; background-repeat: no-repeat;">
    #@subscriberNavigationBar()
    #end
<main>

    <div class="Container">
        <form id="max_discount_form" method="post">
            <h1>Set Max Discount</h1>
            <input type="hidden" name="connectionID" id="connectionID" value="">
            <script type="text/javascript">
                document.getElementById("connectionID").setAttribute('value',localStorage.getItem("connectID"));
            </script>
            <input type="hidden" name="store_id" id="store_id" value=$store_id>

            <div class="row">
                <div class="col-15">
                    <label class="white" for="discounts">Discounts(to select multiple discounts press on ctrl and choose the discounts)</label>
                </div>
                <div class="col-30">
                    <select name="discounts" id="discounts" multiple required>
                        #foreach($d in $discounts)
                            <option>$d</option>
                        #end
                    </select>
                </div>
            </div>

            <div class="row">
                <input type="submit" value="Submit">
            </div>

            #@exceptionsView()
            #end
        </form>
    </div>

#*        <form id="max_discount_form" method="post">
            <div style = "font-size: 25; font-family: cursive; color: black;
                          position: inherit; left: 7%;">
            <h1>Set Max Discount</h1>
            <input type="hidden" name="connectionID" id="connectionID" value="">
            <script type="text/javascript">
                document.getElementById("connectionID").setAttribute('value',localStorage.getItem("connectID"));
            </script>
            <input type="hidden" name="store_id" id="store_id" value=$store_id>
            <div>
                <div>
                    <label for="discounts">Discounts</label>
                </div>
                <div>
                    <label for="discounts">to select multiple discounts press on ctrl and choose the discounts</label>
                    <select name="discounts" id="discounts" multiple required>
                        <option value="">Please select</option>
                        #foreach($d in $discounts)
                            <option>$d</option>
                        #end
                    </select>
                </div>
            </div>
            <div>
                <button class = "submit_button1" > Submit </button>
            </div>
        </form>*#
</main>
</body>
</html>
