#parse("/htmlDirectories/subscriberNavigationBar.vm")
#parse("/htmlDirectories/exceptionsView.vm")
<html lang="en-us">
<head>
    <link rel="stylesheet" href="/Main.css">
    <link rel="stylesheet" href="/pageDesign.css">
</head>

<body style = "background: url(back2.jpg); background-size: 100% 100%; background-repeat: no-repeat;">
    #@subscriberNavigationBar()
    #end
<main>

    <div class="Container">
        <form id="time_policy_form" method="post">
            <h1>Set Time Policy</h1>
            <input type="hidden" name="connectionID" id="connectionID" value="">
            <script type="text/javascript">
                document.getElementById("connectionID").setAttribute('value',localStorage.getItem("connectID"));
            </script>
            <input type="hidden" name="store_id" id="store_id" value=$store_id>

            <div class="row">
                <div class="col-15">
                    <label class="white" for="products">Products (to select multiple products press on ctrl and choose the products)</label>
                </div>
                <div class="col-30">
                    <select name="products" id="products" multiple required>
                        #foreach($p in $products)
                            <option>$p</option>
                        #end
                    </select>                </div>
            </div>

            <div class="row">
                <div class="col-15">
                    <label class="white" for="start_time">Start Time</label>
                </div>
                <div class="col-30">
                    <input type="time" id="start_time" name="start_time" placeholder="enter start time here" value="" required>
                </div>
            </div>

            <div class="row">
                <div class="col-15">
                    <label class="white" for="end_time">End Time</label>
                </div>
                <div class="col-30">
                    <input type="time" id="end_time" name="end_time" placeholder="enter end time here" value="" required>
                </div>
            </div>

            <div class="row">
                <input type="submit" value="Submit">
            </div>
            #@exceptionsView()
            #end
        </form>
    </div>
#*    <form id="time_policy_form" method="post">
            <div style = "font-size: 25; font-family: cursive; color: black;
                          position: inherit; left: 7%;">
            <h1>Set Time Policy</h1>
            <input type="hidden" name="connectionID" id="connectionID" value="">
            <script type="text/javascript">
                document.getElementById("connectionID").setAttribute('value',localStorage.getItem("connectID"));
            </script>
            <input type="hidden" name="store_id" id="store_id" value=$store_id>
            <div>
                <div>
                    <label for="products">Products</label>
                </div>
                <div>
                    <label for="products">to select multiple products press on ctrl and choose the products</label>
                    <select name="products" id="products" multiple required>
                        <option value=""></option>
                        #foreach($p in $products)
                            <option>$p</option>
                        #end
                    </select>
                </div>
            </div>
            <div>
                <div>
                    <label for="time">start time</label>
                    <input type="time" name="start_time" placeholder="enter start time here" value="" required>
                </div>
                <div>
                    <label for="time">end time</label>
                    <input type="time" name="end_time" placeholder="enter end time here" value="" required>
                </div>
            </div>
            <div>
                <button class = "submit_button1" > Submit </button>
            </div>
        </form>*#
</main>
</body>
</html>
